{% extends 'include/base.html' %}
{% block connect %}
    <div style="margin-left: 27rem;" class="col-sm-12 col-xl-6 mt-5">
        <div class="bg-secondary rounded h-100 p-4 mt-2">
            <h6 class="mb-4">Problems Left</h6>
            <form method="post" action="{% url 'update_problems' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control form-control-sm bg-dark" id="formFileSm" type="file" name="images" value="{% for i in problems %}{{ i.images.url }}{% endfor %}">
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"
                           placeholder="title" name="title" value="{% for i in problems %}{{ i.title }}{% endfor %}">
                    <label for="floatingInput">title</label>
                </div>
                <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea" style="height: 150px;" name="text" value="{% for i in problems %}{{ i.text }}{% endfor %}"></textarea>
                    <label for="floatingTextarea">Comments</label>
                </div>
                <button class="mt-4" type="submit">Create</button>

            </form>


        </div>
    </div>
{% endblock %}